<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="QQSectionGroup">
      <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <!--******************************************************************************** -->
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
    <!--******************************************************************************** -->
  </configSections>
  <QQSectionGroup>
    <QzoneSection>
      <add key="AppKey" value="101158304"/>
      <add key="AppSecret" value="d34b2d48e0159b61e872083b6a0f6a9c"/>
      <add key="CallBackURI" value="http://app1102093263.qzoneapp.com"/>
      <add key="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize"/>
    </QzoneSection>
  </QQSectionGroup>
  <appSettings>
    <add key="AdminName" value="Admin_usernamedddddddd"/>
    <add key="ZYKUserID" value="User_usernamedddddddd"/>
    <add key="CacheTime" value="30"/>
    <add key="UsedCache" value="1"/>
    <add key="UserType" value="1"/>
    <add key="SchoolType" value="50"/>
    <add key="UserName" value="User_username"/>
    <add key="UserTypeZYK" value="5"/>
    <add key="FCKeditor:BasePath" value="/admin/FCKeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/Files/"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ConnAccess" value="Data/fnewres.mdb"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=PlateX;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="406900" useFullyQualifiedRedirectUrl="false" executionTimeout="6000" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="1000" enableVersionHeader="true" requestValidationMode="2.0"/>
    <globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
      </controls>
    </pages>
    <sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:42424" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=.;Initial Catalog=ASPState;User ID=sa;Password=123456;pooling=true;min pool size=5;max pool size=512;connect timeout = 200;" cookieless="false" timeout="1000"/>
    <!-- Q
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        
        -->
    <httpHandlers>
      <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>
      <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>
    </httpHandlers>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
  </system.web>
  <RewriterConfig>
    <Rules>
      <!-- Rules for Blog Content Displayer -->
      <!-- Rules for News view -->
      <RewriterRule>
        <LookFor>/invite.html</LookFor>
        <SendTo>/invite.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/protocol_(.[0-9]*)\.html</LookFor>
        <SendTo>/protocol.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/protocol_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/protocol.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/join.html</LookFor>
        <SendTo>/join.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/shoper_product_add_(.[0-9]*)\.html</LookFor>
        <SendTo>/shoper_product_add.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/saleOrder_(.[0-9]*)\.html</LookFor>
        <SendTo>/saleOrder.aspx?infoType=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/shoper_product.html</LookFor>
        <SendTo>/shoper_product.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/shopInfo_edit.html</LookFor>
        <SendTo>/shopInfo_edit.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/myFavorite_(.[0-9]*)\.html</LookFor>
        <SendTo>/myFavorite.aspx?shopType=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/shoper_detail_(.[0-9]*)\.html</LookFor>
        <SendTo>/shoper_detail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/shoper_product_add_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/shoper_product_add.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/shoper_product.html</LookFor>
        <SendTo>/mobile/shoper_product.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/myFavorite_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/myFavorite.aspx?shopType=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/about.html</LookFor>
        <SendTo>/mobile/about.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/saleOrder_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/saleOrder.aspx?infoType=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/shoper_detail_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/shoper_detail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/fullInfo.html</LookFor>
        <SendTo>/mobile/fullInfo.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/shop_center.html</LookFor>
        <SendTo>/mobile/shop_center.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/join.html</LookFor>
        <SendTo>/mobile/join.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/html5/mycardRecoder.html</LookFor>
        <SendTo>/mobile/html5/mycardRecoder.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/ordercomment_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/ordercomment.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/goods_conmment_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/goods_conmment.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_cardRecoder.html</LookFor>
        <SendTo>/my_cardRecoder.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/mycardRecoder.html</LookFor>
        <SendTo>/mobile/mycardRecoder.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/findpass.html</LookFor>
        <SendTo>/mobile/findpass.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/product_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/product.aspx?typeId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/myproduct.html</LookFor>
        <SendTo>/mobile/myproduct.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/watch_diary_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/watch_diary.aspx?oneId=$1&amp;twoId=$2&amp;threeId=$3</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/help_center.html</LookFor>
        <SendTo>/mobile/help_center.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/help_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/help.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/orderDetail_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/orderDetail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/doneOrder_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/doneOrder.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/exit.html</LookFor>
        <SendTo>/mobile/exit.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/order_address.html</LookFor>
        <SendTo>/mobile/order_address.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/setpaypass.html</LookFor>
        <SendTo>/mobile/setpaypass.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/bindMobile.html</LookFor>
        <SendTo>/mobile/bindMobile.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/bindEmail.html</LookFor>
        <SendTo>/mobile/bindEmail.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/modpass.html</LookFor>
        <SendTo>/mobile/modpass.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/myticket.html</LookFor>
        <SendTo>/mobile/myticket.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/infoDetail_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/infoDetail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/goali.html</LookFor>
        <SendTo>/mobile/goali.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/createOrder.html</LookFor>
        <SendTo>/mobile/createOrder.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/security_center.html</LookFor>
        <SendTo>/mobile/security_center.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/car.html</LookFor>
        <SendTo>/mobile/car.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/classify.html</LookFor>
        <SendTo>/mobile/classify.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/classify_details_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/classify_details.aspx?oneId=$1&amp;twoId=$2&amp;threeId=$3&amp;fourId=$4&amp;fiveId=$5&amp;sixId=$6&amp;sevenId=$7</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/comment_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/comment.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/data_setup.html</LookFor>
        <SendTo>/mobile/data_setup.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/event.html</LookFor>
        <SendTo>/mobile/event.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/feedback.html</LookFor>
        <SendTo>/mobile/feedback.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/index.html</LookFor>
        <SendTo>/mobile/index.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/invoice_info.html</LookFor>
        <SendTo>/mobile/invoice_info.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/login.html</LookFor>
        <SendTo>/mobile/login.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/manage_address.html</LookFor>
        <SendTo>/mobile/manage_address.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/my_yuanxiang.html</LookFor>
        <SendTo>/mobile/my_yuanxiang.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/mybalance.html</LookFor>
        <SendTo>/mobile/mybalance.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/mycard.html</LookFor>
        <SendTo>/mobile/mycard.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/myintegral.html</LookFor>
        <SendTo>/mobile/myintegral.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/myorder_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/myorder.aspx?typeId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/order.html</LookFor>
        <SendTo>/mobile/order.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/payment_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/payment.aspx?orderId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/product.html</LookFor>
        <SendTo>/mobile/product.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/product_details_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/product_details.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/receipt_address_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/receipt_address.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/receipt_order_address_(.[0-9]*)\.html</LookFor>
        <SendTo>/mobile/receipt_order_address.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/recommend.html</LookFor>
        <SendTo>/mobile/recommend.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/register.html</LookFor>
        <SendTo>/mobile/register.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/search.html</LookFor>
        <SendTo>/mobile/search.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/search_result.html</LookFor>
        <SendTo>/mobile/search_result.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/shoper_setup.html</LookFor>
        <SendTo>/mobile/shoper_setup.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/setup.html</LookFor>
        <SendTo>/mobile/setup.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/version.html</LookFor>
        <SendTo>/mobile/version.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/mobile/watch_diary.html</LookFor>
        <SendTo>/mobile/watch_diary.aspx</SendTo>
      </RewriterRule>
      <!-- 下面是PC端的，上面是移动端的 -->
      <RewriterRule>
        <LookFor>/order_detail_(.[0-9]*)\.html</LookFor>
        <SendTo>/order_detail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/emailCredit.html</LookFor>
        <SendTo>/emailCredit.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/goali.html</LookFor>
        <SendTo>/goali.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/judge_(.[0-9]*)_(.[0-9]*)\.html</LookFor>
        <SendTo>/judge.aspx?orderId=$1&amp;proId=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/orders_(.[0-9]*)\.html</LookFor>
        <SendTo>/orders.aspx?typeId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/help_(.[0-9]*)\.html</LookFor>
        <SendTo>/help.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/lanmu_(.[0-9]*)\.html</LookFor>
        <SendTo>/lanmu.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/exit.html</LookFor>
        <SendTo>/exit.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_card02.html</LookFor>
        <SendTo>/my_card02.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/register.html</LookFor>
        <SendTo>/Login.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_person.html</LookFor>
        <SendTo>/my_person.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_safty.html</LookFor>
        <SendTo>/my_safty.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_safty_mail.html</LookFor>
        <SendTo>/my_safty_mail.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_safty_mobile.html</LookFor>
        <SendTo>/my_safty_mobile.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_safty_password.html</LookFor>
        <SendTo>/my_safty_password.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_safty_zhifu.html</LookFor>
        <SendTo>/my_safty_zhifu.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_shop.html</LookFor>
        <SendTo>/my_shop.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_jifen.html</LookFor>
        <SendTo>/my_jifen.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/news_(.[0-9]*)_(.[0-9]*)\.html</LookFor>
        <SendTo>/news.aspx?oneId=$1&amp;twoId=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/news_list_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)\.html</LookFor>
        <SendTo>/news_list.aspx?typeId=$1&amp;year=$2&amp;month=$3</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/exit_(.[0-9]*)\.html</LookFor>
        <SendTo>/exit.aspx?typeId=0</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/project_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)_(.[0-9]*)\.html</LookFor>
        <SendTo>/project.aspx?oneId=$1&amp;twoId=$2&amp;threeId=$3&amp;fourId=$4&amp;varietyId=$5&amp;relieveId=$6&amp;cookId=$7&amp;otherId=$8</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/project_list_(.[0-9]*)\.html</LookFor>
        <SendTo>/project_list.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/shopping.html</LookFor>
        <SendTo>/shopping.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/zhifu_(.[0-9]*)\.html</LookFor>
        <SendTo>/zhifu.aspx?orderId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/dingdan.html</LookFor>
        <SendTo>/dingdan.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/find.html</LookFor>
        <SendTo>/find.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/index.html</LookFor>
        <SendTo>/index.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/jiesuan.html</LookFor>
        <SendTo>/jiesuan.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/jiesuan1.html</LookFor>
        <SendTo>/jiesuan1.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/createOrder.html</LookFor>
        <SendTo>/createOrder.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_address.html</LookFor>
        <SendTo>/my_address.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_balance.html</LookFor>
        <SendTo>/my_balance.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_card.html</LookFor>
        <SendTo>/my_card.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/login.html</LookFor>
        <SendTo>/login.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/news_detail_(.[0-9]*)\.html</LookFor>
        <SendTo>/news_detail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/product_detail_(.[0-9]*)\.html</LookFor>
        <SendTo>/product_detail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/product_list_(.[0-9]*)\.html</LookFor>
        <SendTo>/product_list.aspx?typeId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/orderPay_(.[0-9]*)\.html</LookFor>
        <SendTo>/orderPay.aspx?orderId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/my_invoice.html</LookFor>
        <SendTo>/my_invoice.aspx</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="index.aspx"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="Demo3" path="*" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="Demo2" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
      <add name="Demo1" path=".html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
    </handlers>
    <modules>
      <add name="Demo4" type="URLRewriter.ModuleRewriter" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>