@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; }
li { list-style: none; }
img, input { border: 0px; vertical-align: middle; color:#333333; font-family: "Microsoft YaHei"; outline:0; }
p, h1, h2, h3, h4, h5, h6, img, ul, li, input, button, dd, dl, dt { margin: 0; padding: 0; list-style: none; border: none; font-weight: normal; font-style: normal; }
a{ text-decoration: none; font-style: normal; font-weight: normal; }
.clear { clear: both; display: none; }
.clearfix:after { content: "."; height: 0px; display: block; clear: both; visibility: hidden; }
.clearfix:after { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.wid { width:94%; margin: 0 auto; }
button{ outline: none; font-family: "Microsoft YaHei"; }
select { outline:0;font-family: "Microsoft YaHei"; background:none;font-size: 15px; border:none; -webkit-appearance: none;
    color: #878787; }
input::-ms-clear {
display: none;
}
table { border-collapse: collapse; border-spacing: 0; }
body, html { background: #fff; min-width: 240px; max-width:640px; color:#363636; margin:0 auto; font-family: "Microsoft YaHei";font-size: 14px; position: relative; height:100%; }
input::-webkit-input-placeholder {
color:#b4b4b4;
}
input,textarea{
   
}
input:-moz-placeholder {
color:#b4b4b4;
font-family:"Microsoft YaHei";
}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; -o-transition: .2s; -ms-transition: .2s; -moz-transition: .2s; -webkit-transition: .2s; transition: .2s; }
a { -o-transition: .2s; -ms-transition: .2s; -moz-transition: .2s; -webkit-transition: .2s; transition: .2s; color:#000; }
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0); background:none;}


.index_header { width: 100%; height: 60px; line-height: 60px; background: #f0f0f0; }
.index_header.fix{ position:fixed; top:0; left:0; z-index:999;}

.index_header .header_con{ width:92%; margin:0 auto;}
.index_header .logo { float: left; }
.index_header .logo img { height: 40px; }
.index_header .search_box{ width:62%; height:30px; background:#fff; border-radius:3px; margin-left:30px; margin-top:15px; position:relative;}
.index_header .search_box .search_btn{ display:inline-block; width:40px; height:30px; background:url(../images/search_btn.png) no-repeat center; background-color:#fff; background-size:16px 16px; position:absolute; left:0px; top:0px; z-index:2; vertical-align:middle;}
.index_header .search_box input{ width:100%; float:left; text-indent:50px; height:14px; line-height:20px; font-size:14px; padding:8px 0px; -webkit-appearance: none;-webkit-appearance: textfield;-webkit-writing-mode: horizontal-tb}
.index_header .set_btn{ width:25px; height:25px; background:url(../images/setup.png) no-repeat center; background-size:contain; margin-top:17px;}
.index_header .cancel_btn{ font-size:16px; color:#272727;}
.index_header .cancel_btn a{ color:#272727;}
.foot { width:100%; position:fixed; left:0; bottom:0; z-index:20; background:#f0f0f0; }
.foot ul li { float: left; width: 20%; text-align: center; padding-top: 7px; padding-bottom:5px; position:relative; }
.foot ul li b { display: block; margin: 0 auto; width: 30px; height: 30px; background-position: center; background-size: contain; background-repeat: no-repeat; }
.foot ul li span { display: block; margin: 0 auto; font-size: 12px; color:#000000; margin-top: 5px; }
.foot ul li.active span{ color:#f00a0a;}
.foot ul li b.foot_icon1{ background-image:url(../images/foot_icon1.png)}
.foot ul li b.foot_icon2{ background-image:url(../images/foot_icon2.png)}
.foot ul li b.foot_icon3{ background-image:url(../images/foot_icon3.png)}
.foot ul li b.foot_icon4{ background-image:url(../images/foot_icon4.png)}
.foot ul li b.foot_icon5{ background-image:url(../images/foot_icon5.png)}


.foot ul li.active .foot_icon1{ background-image:url(../images/foot_icon1_active.png)}
.foot ul li.active .foot_icon2{ background-image:url(../images/foot_icon2_active.png)}
.foot ul li.active .foot_icon3{ background-image:url(../images/foot_icon3_active.png)}
.foot ul li.active .foot_icon4{ background-image:url(../images/foot_icon4_active.png)}
.foot ul li.active .foot_icon5{ background-image:url(../images/foot_icon5_active.png)}

.foot ul li .totleNum{ display: block; width: 16px; font-style:normal;
    height: 16px;
    text-align: center;
    background: #f02121;
    color: #f02121;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 2;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;}
.foot ul li .hideNum{ display:none;}

.common-divider{padding-top:70px;}